<div id="addOpeningDiv">
    <h1 id="h1Add">Add Employee</h1>
    <fieldset id="fieldsetADD">
    <form id="addForm" #addEmpForm="ngForm" (ngSubmit)="onSubmit()">

               
        <label id="label1">
        Name: <input [(ngModel)]="employee.name" name="empName" #nameField="ngModel" id="name" pattern="[A-Za-z]{3,}" required></label><br id="br11"/>

        <div id="errorDivName" [hidden] ="!(nameField.invalid && (nameField.dirty || nameField.touched))">
            <div id="insideErrorDivName" *ngIf="nameField.errors?.required">
                Name field cannot be blank
            </div>
            <div id="2ndErrorInsideDivName" *ngIf="nameField.errors?.pattern && nameField.touched">
                Name field must contain at least 3 signs
            </div>
        </div>
        <div id="openingDivLoc">
        <label id="locationLabel">Location: <select [(ngModel)]="employee.location" name="empLocation" #locationField="ngModel" id="location" required="">
            <option id="locationOption" *ngFor="let location of locationList">{{location}}</option>
                </select></label>
        </div>
        <label id="openingLabelEmail"><div id="openingDivEmail">
                       
                Email: <input [(ngModel)]="employee.email" name="empEmail" #emailField="ngModel" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required><br id="br13"/>
        </div></label>
               
                <div id="errorDivEmail" [hidden] = "!(emailField.invalid && (emailField.dirty || emailField.touched))">
                    <div id="ErrorIfMail" *ngIf="emailField.errors?.required">
                        Email field cannot be blank
                    </div>
                    <div id="2ndErrorIfMail" *ngIf="emailField.errors?.pattern && emailField.touched">
                        This email address is invalid
                    </div>
                </div>

                              <br id="br14">
        <label id="openinglabelMobile"><div id="openingDivMobile">
        Mobile: <input [(ngModel)]="employee.mobile" name="empMobile" #mobileField="ngModel" id="mobile" pattern="[0-9]{10}" required>
        </div></label><br id="br15"/>
        <div id="errorDivMobile" [hidden]="!(mobileField.invalid && (mobileField.dirty || mobileField.touched))">
            <div id="errorIfMobile" *ngIf="mobileField.errors?.required">
                Mobile field cannot be blank
            </div>
            <div id="errorIfMobile" *ngIf="mobileField.errors?.pattern && mobileField.touched">
                Mobile number - only 10 digits allowed
            </div>
        </div><button id="add" type="submit" [disabled]="!addEmpForm.form.valid" (click)="newEmployee();addEmpForm.reset()" routerLink="/employeeList">Submit</button>


    </form>
    </fieldset>
</div>

