<h1 id="h1" align="center"><b>Employees List</b></h1>
<br id="br1">
<br id="br2">

<div id="div1">
  Filter by: <br id="br3">
  <input type="text" name="search"  [(ngModel)]="searchText" autocomplete="off" placeholder="Search by name">
</div>

<br id="br4">
<div id="div2">
  <label #count id="count">Total number of employees: {{(employees|employeeFilter:searchText).length}}</label>
</div>
<br id="br5"><br id="br6">
<table id="table" class="employees">
  <tr id="tablerow{{employee.id}}" *ngFor="let employee of employees | employeeFilter: searchText as res">
    <td id="firstTD">
      <span id="spanWithin" class="badge"><a routerLink="/detail/{{employee.id}}">{{employee.id}}</a></span></td>
    <td id="name{{employee.id}}">{{employee.name}}</td>
    <td id="location{{employee.id}}">{{employee.location}}</td>
    <td id="email{{employee.id}}">{{employee.email}}</td>
    <td id="mobile{{employee.id}}">{{employee.mobile}}</td>
    <td id="tdupdate{{employee.id}}"><button id="edit{{employee.id}}" class="update" title="update employee" routerLink="/editEmployee/{{employee.id}}">Edit {{employee.id}}</button></td>
    <td id="tddelete{{employee.id}}"><button class="delete" title="delete employee"
      (click)="delete(employee)">Delete {{employee.id}}</button></td>
  </tr>
</table>
